body {
	background-color: lightblue;
	
}


nav {
	background-color: darkblue;
	margin: auto;
	font-size: 1.5em;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
	
}

nav ul li {
	background-color: white;
	flex-flow: row wrap;
	align-items: center;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.1rem;

}

nav ul li a {
	text-decoration: none;
	color: darkblue;
}

nav ul li a:visited {
	text-decoration: underline;
	color: black;
}

nav ul li a:hover {
	text-decoration: ;
	color: blue;
}


a:visited {
  color: black;
  text-decoration-color: black;
  
}

@media screen and (min-width: 0px) and (max-width: 555px) {
    body { background-color: slategrey; }
}
@media screen and (min-width: 556px) and (max-width: 800px) {
    body { background-color: lightpink; }
}
@media screen and (min-width: 801px) {
    body { background-color: lightblue; }

main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}

.posters {
	display: flex;
	align-items: center;
	background-color: grey;
}

div {
   align-items: center;
   width: 300px;
}


.title{
	display: flex;
	align-items: center;

}
.summary{ 
display:flex; 
align-items: center;
align-self: center;
max-width: 300;
}

	body {
		font-family: 'Lora', serif;
	}
	h1 {
		font-size: 20px;
		font-family: 'Cinzel', serif;
		font-size: 4em;
		font-style: normal;
	}

	h2 {
	font-family: 'Monsterrat', sans-serif;
	font-style: italic;
	font-size: 2em;
	}

	h3 {
	font-family: 'Lora', serif;
	font-size: 1em;
	font-style: italic;
	}


	p { 
	font-size: 0.8em;
	 font-family: 'Lora', serif;
	}
	
.font-specific {
	font-family: 'Lora', serif;
	font-style: italic;
}

.sitcoms {
	text-align: center;
}

	footer {
		text-align: center;
		background-color: white;
		font-family: monospace;
		padding: 10px;
		align-self: center;

	
	}

