body {
	background-color: lightblue;
	
}


nav {
	background-color: darkblue;
	margin: auto;
	font-size: 1.5em;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
	
}

nav ul li {
	background-color: white;
	flex-flow: row wrap;
	align-items: center;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.1rem;

}

nav ul li a {
	text-decoration: none;
	color: darkblue;
}

nav ul li a:visited {
	text-decoration: underline;
	color: black;
}

nav ul li a:hover {
	text-decoration: ;
	color: blue;
}


a:visited {
  color: black;
  text-decoration-color: black;
  
}

@media screen and (min-width: 0px) and (max-width: 555px) {
    body { background-color: slategrey; }
}
@media screen and (min-width: 556px) and (max-width: 800px) {
    body { background-color: lightpink; }
}
@media screen and (min-width: 801px) {
    body { background-color: lightblue; }

main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

.image-test {
  border: 10px ridge #darkblue;
  background-color: #floralwhite;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.image-test img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  }

.image-test p {
  font: sans-serif;
  text-align: center;
  max-width: 300px;
}

	body {
		font-family: 'Lora', serif;
	}
	h1 {
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-size: 4em;
		font-style: normal;
	}

	h2 {
	font-family: 'Cinzel', serif;
	font-style: italic;
	font-size: 2em;
	}

	h3 {
	font-family: 'Lora', serif;
	font-size: 1em;
	font-style: italic;
	}


	p { 
	font-size: 0.8em;
	 font-family: 'Lora', serif;
	}
	


	footer {
		text-align: center;
		background-color: white;
		font-family: monospace;
		padding: 10px;
		align-self: center;

	
	}

