body {
	background-color: lightblue;
	
}


nav {
	background-color: darkblue;
	max-width: 800px;
	margin: auto;
	font-size: 1.5em;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
	
}

nav ul li {
	background-color: white;
	flex-flow: row wrap;
	align-items: center;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.1rem;

}

nav ul li a {
	text-decoration: none;
	color: darkblue;
}

nav ul li a:visited {
	text-decoration: underline;
	color: black;
}

nav ul li a:hover {
	text-decoration: ;
	color: blue;
}


a:visited {
  color: black;
  text-decoration-color: black;
  
}



main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}


	body {
		font-family: 'Cinzel', serif;
	}
	h1 {
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-size: 3em;
	}

	h2 {
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 1em;
	}

	h3 {
	font-family: 'Lora', serif;
	font-size: 2em;
	}

	p { 
	font-size: 0.8em;
	 font-family: 'Lora', serif;
	}
	

	footer {
		text-align: center;
		background-color: white;
		font-family: monospace;
		max-width: 800px;
		margin: 40px 0;

	
	}



example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}



.list-link {
	text-decoration: underline solid rgba(153,0,0,.5) 3px;



}